body {
    margin: 0;
    overflow: hidden;
    background: #000;
}
#top-ui {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #f0e6d2;
    font-family: Cinzel;
    text-shadow: 2px 2px 5px #000;
    z-index: 10;
}
